.sigmar-regular {
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: url(../img/BG.svg);
  font-family: Sigmar;
  padding: 12px;
  font-size: 1.5rem;
}

.infoBox {
  margin: 0;
  text-align: center;
}

.statusUpdate {
  font-size: 36px;
  margin: 0;
}

.action {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rockGif,
.paperGif,
.scissorsGif {
  display: none;
  margin: auto;
  height: auto;
  width: auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  border-radius: 24px;
  border: solid black 2px;
  font-family: Sigmar;
  background-color: transparent;
  margin: auto;
  padding: 24px;
  min-width: 33%;
}

.choice:hover {
  border: solid white 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.choice:active {
  background-color: white;
  color: black;
  border: solid black 2px;
}

.scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreBox div {
  margin: 0 auto;
  min-width: 30%;
  text-align: center;
  padding: 24px;
  border: solid 4px black;
  border-radius: 16px;
}
