* {
  border: solid purple 2px;
}

.infoBox {
  text-align: center;
}

.statusUpdate {
  margin: 0;
}

.action {
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rockGif,
.paperGif,
.scissorsGif {
  display: none;
  margin: auto;
  height: 24rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  margin: auto;
  padding: 24px;
  min-width: 33%;
}

.scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreBox div {
  margin: 0 auto;
  min-width: 30%;
  text-align: center;
  padding: 24px;
  border: solid 4px black;
  border-radius: 16px;
}
